In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/sacramento/nhgis0001_csv/nhgis0001_ds104_1980_tract.csv")

In [3]:
df.head()

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,SMSAA,COUNTY,COUNTYA,CTY_SUBA,...,C9D006,C9D007,C9D008,C9D009,C9D010,C9D011,C9D012,C9D013,C9D014,C9D015
0,G01000100201,1980,3,6,Alabama,1,5240.0,Autauga,1,20.0,...,4,0,1,0,0,0,0,0,0,0
1,G01000100202,1980,3,6,Alabama,1,5240.0,Autauga,1,20.0,...,2,1,0,0,0,0,0,0,0,2
2,G01000100203,1980,3,6,Alabama,1,5240.0,Autauga,1,20.0,...,9,0,8,1,0,1,0,0,0,4
3,G01000100204,1980,3,6,Alabama,1,5240.0,Autauga,1,20.0,...,7,1,0,1,0,1,0,0,0,19
4,G01000100205,1980,3,6,Alabama,1,5240.0,Autauga,1,20.0,...,4,1,1,2,4,1,0,0,0,24

In [7]:
cali = df[df["STATE"]=="California"]
cali.head()

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,SMSAA,COUNTY,COUNTYA,CTY_SUBA,...,C9D006,C9D007,C9D008,C9D009,C9D010,C9D011,C9D012,C9D013,C9D014,C9D015
1600,G06000104001,1980,4,9,California,6,7360.0,Alameda,1,50.0,...,28,66,1,6,3,3,1,0,0,18
1601,G06000104002,1980,4,9,California,6,7360.0,Alameda,1,50.0,...,22,56,14,5,3,1,2,0,0,38
1602,G06000104003,1980,4,9,California,6,7360.0,Alameda,1,50.0,...,36,100,31,4,5,13,6,4,5,117
1603,G06000104004,1980,4,9,California,6,7360.0,Alameda,1,50.0,...,67,56,45,10,6,2,4,1,2,101
1604,G06000104005,1980,4,9,California,6,7360.0,Alameda,1,50.0,...,41,53,14,1,0,0,2,2,0,92